.main_menu_icon {
    max-width: 200px;
    max-height: 200px;
}

.main_menu_tile {
    text-align: center;
}

.main_menu_button {
    margin: 15px; 
    display: block; 
    text-align: center;
    font-size: 125%;
}