@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700,900');

/* 
	Color themes I'm playing with
	Solarized: bg: rgb(253, 247, 227), fg: #4f5b66;
*/


/* *********************************************************************** */
/* * Page elements                                                       * */
/* *********************************************************************** */
body {
	padding: 0;
	margin: 0;
	color:  #253545;
	background-color: rgb(253, 247, 227);	
    font-family: 'Roboto', sans-serif;
}


.ipad_sized_page_container {	
    width: 768px;
    margin-left: auto;
    margin-right: auto;
}

@media only screen and (max-width: 800px) {
	.ipad_sized_page_container {
	    height: 1024px;
	    overflow: scroll;
	}
}

.loading_text {	
	font-size: 30px;
	font-weight: bold;
	text-align: center;
	background-color: #202020;
	color: white;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 999;
}

.status_log {
	font-size: 8pt;
	text-align: left;
}

/* *********************************************************************** */
/* * Person list                                                         * */
/* *********************************************************************** */
.person {
	margin: 5px;
	padding: 0;	
	padding-bottom: 5px;
	position: relative;
	min-height: 102px;
	border-bottom: 1px solid rgb(200,200,200);
}

.person_name {
	display: table-cell;
	height: 100px;
	font-size: 40px;
	vertical-align: middle;
	padding-left: 10px;
	font-weight: 500;
}

/* *********************************************************************** */
/* * Person in / out buttons                                             * */
/* *********************************************************************** */

.person_buttons {
	box-sizing: border-box;
	position: absolute;
	background-color: #444444;
	right: 0;
	top: 0;
	display: inline-block;
	border: 2px solid black	;
	border-radius: 7px;
	margin: 0;
	padding: 0;		
	z-index: 10;
	-moz-box-shadow:    inset 0 0 10px #000000;
   	-webkit-box-shadow: inset 0 0 10px #000000;
   	box-shadow:         inset 0 0 10px #000000;
}

.person_button {
	box-sizing: border-box;
	color: black;
	display: inline-block;
	font-weight: 900;	
	border-radius: 5px;	
}

.person_button_dim {
	color: #606060;
}

.person_button_active {
	background-color: rgba(255,255,255,1);
	opacity: 1;
}

.person_button_contents {
	display: table-cell;
	width: 100px;
	font-size: 35px;
	height: 100px;
	vertical-align: middle;
	text-align: center;
}

.person_button_busy {
	opacity: 1;
	background-color: rgba(255,0,0,0.25);
	color: rgba(255,0,0);
}

.checkmark {
	color: green;
	font-size: 175%;
}

.rotate {
	-webkit-animation: rotation 1s infinite linear;
}


@-webkit-keyframes rotation {
	from {
			-webkit-transform: rotate(0deg);
	}
	to {
			-webkit-transform: rotate(359deg);
	}
}

/* *********************************************************************** */
/* * Slide out options bars                                              * */
/* *********************************************************************** */

.slide_out_options_bar {	
	z-index: 20;
	border: 0;
	border: 2px solid #949085;
	padding: 0;
	margin-top: -2px;
	padding-bottom: 10px;	
	background-color: #ede7d6;
	color: black;	
	width: 100%;
	border-radius: 8px 0 8px 8px ;
}

.slide_out_options_bar_section {
	margin-top: 10px;
	box-sizing: border-box;		
	height: 100px;
	width: 100%;
	display: flex;
	align-items: center;
	padding: 5px;
}

.slide_out_options_bar_section_content { 
	box-sizing: border-box;
 	text-align: right; 
	font-size: 30px;
	padding: 0;
 	width: 100%;
}

.button_small_text {
	font-size: 14pt !important;
}

.options_bar_button {
	border: 1px solid rgba(0,0,0,0.3);	
	background-color: rgba(255,255,255,1);
	color: black;
	display: inline-block;
	margin-right: 10px;
	font-weight: 900;
	border-radius: 8px;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.options_bar_button_contents {
	display: table-cell;
	width: 100px;
	font-size: 30px;
	height: 100px;
	vertical-align: middle;
	text-align: center;
}

.options_bar_button_open {	
	color: #E5E9F0;
}

.options_bar_buttons_open {
	
}

.hidden {
	display: none;
}

.set_button {
	text-align: center;
	border: 2px solid green;
	color: green;
	background-color: #88C674;
}

.set_button_contents {
	width: 200px;	
}

.custom_status_input {	
	padding: 0;	
	height: 100px;
	border: 1px solid black;
	width: 100%;
	display: inline;
	vertical-align: top;
	font-size: 30px;
}

.control_days_input {
	margin: 10px;
	margin-top: 0;
	padding: 0;
	margin-right: 15px;
	height: 100px;
	border: 1px solid black;
	width: 100px;
	text-align: center;
	display: inline;
	vertical-align: top;
	font-size: 30px;
}

/* *********************************************************************** */
/* * Title / Filter bar styles                                           * */
/* *********************************************************************** */

.filter_button {
	position: absolute;
	top: 0;
	right: 0;
	padding: 5px;
}

.title_bar_text {
	font-size: 20px;
	padding: 10px;	
}

.filter_icon {
	width: 25px;
	height: 25px;
}

.title_bar {
	position: relative;
	min-height: 30px;	
	margin-bottom: 5px;
	background-color: #949085;	
	color: #ede7d6;
	font-weight: 700;
}

#lblFilterBy {
	display: inline;
}

.title_bar_menu {
	margin: 2px;
	border-radius: 5px;
	padding: 3px;
}

.filter_option {
	padding: 15px;
	margin-bottom: 3px;
	background-color: #ede7d6;
	color: black;
	border-radius: 5px;
	font-size: 25px;
	font-weight: 700;
}

/* *********************************************************************** */
/* * Animated timerbar													 * */
/* *********************************************************************** */

.reload_timer_bar {	
	box-sizing: border-box;
	border: 1px solid #A0A0A0;
	width: 100%;
	height: 5px;
	float: right;
}

.reload_timer_bar_progress {
	height: 100%;
	width: 100%;
    background-color: #949085;
    animation: progressBar 300s ease-in-out;
    animation-fill-mode:both; 
}

@keyframes progressBar {
  0% { width: 0; }
  100% { width: 100%; }
}

/* *********************************************************************** */
/* * Page reload watchdog    											 * */
/* *********************************************************************** */

.pop_up_window_curtains {
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.7);
	position: absolute;
	top: 0;
	left: 0;
	z-index: 999;
	display: none;
}

.pop_up_window {
	width: 400px;
	border: 2px solid black;
	background-color: rgba(255,0,0,0.8);
	color: white;	
	position: absolute;
	left: 184px;
	top: 100px;
	box-sizing: border-box;
	font-weight: bold;
	padding: 25px;
	font-size: 16pt;
	text-align: center;
	border-radius: 5px;
}

.pop_up_window_button {
	border: 1px solid white;
	padding: 10px;
	font-size: 16pt;
	font-weight: bold;
	text-decoration: none;
	color: inherit;
	background-color: rgba(255,255,255,0.1);
	border-radius: 5px;
}

.pop_up_details {
	font-size: 10pt;
	font-weight: normal;
}

.pop_up_details_field {
	display: inline;
	font-weight: bold;
}

.footer {
	font-size: 8pt;
	text-align: center;
	color: #A0A0A0;
	margin-top: 15px;
}