@import url('https://fonts.googleapis.com/css?family=Roboto');

/* 
	Color themes I'm playing with
	Solarized: bg: rgb(253, 247, 227), fg: #4f5b66;

*/

body {
	padding: 0;
	margin: 0;
	color:  #253545;
	background-color: rgb(253, 247, 227);	
    font-family: 'Roboto', sans-serif;
}

.ipad_sized_page_container {
    width: 768px;
    height: 1024px;
    overflow: scroll;
}

/* Person list */ 
.person {
	margin: 5px;
	position: relative;
	min-height: 102px;
}

.person_name {
	display: table-cell;
	height: 100px;
	font-size: 40px;
	vertical-align: middle;
	padding-left: 10px;
    font-weight: bold;
}

.person_buttons {
	position: absolute;
	right: 0;
	top: 0;
	display: inline-block;
}

.person_button {
	border: 1px solid rgba(0,0,0,0.3);	
	background-color: rgba(255,255,255,1);
	color: black;
	display: inline-block;
	margin-right: 10px;
	font-weight: bold;
	border-radius: 3px;
}

.person_button_contents {
	display: table-cell;
	width: 100px;
	font-size: 35px;
	height: 100px;
	vertical-align: middle;
	text-align: center;
}

.person_button_contents_small {
	display: table-cell;
	width: 50px;
	height: 100px;
	vertical-align: middle;
	text-align: center;
}

.person_button_dim {
	opacity: 0.25;
}

.person_button_active {
	opacity: 1;
}

.person_button_busy {
	opacity: 1;
	background-color: rgba(255,0,0,0.25);
	color: rgba(255,0,0);
}

.checkmark {
	color: green;
	font-size: 175%;
}

.rotate {
	-webkit-animation: rotation 1s infinite linear;
}


@-webkit-keyframes rotation {
	from {
			-webkit-transform: rotate(0deg);
	}
	to {
			-webkit-transform: rotate(359deg);
	}
}

.loading_text {
	font-size: 30px;
	font-weight: bold;
	width: 100%;
	height: 100%;
	padding-top: 50px;
	text-align: center;
}

.control_bar {
	height: 100px;
	border: 0;
	border-bottom: 2px solid black;
	padding-bottom: 10px;
	padding-top: 10px;
	padding-left: 0px;
	padding-right: 0px;
	text-align: right;
}

.control_bar_button {
	border: 1px solid rgba(0,0,0,0.3);	
	background-color: rgba(255,255,255,1);
	color: black;
	display: inline-block;
	margin-right: 10px;
	font-weight: bold;
	border-radius: 3px;

}

.control_bar_button_contents {
	display: table-cell;
	width: 100px;
	font-size: 30px;
	height: 100px;
	vertical-align: middle;
	text-align: center;
}

.button_small_text {
	font-size: 14pt !important;
}

.hidden {
	display: none;
}

.control_bar_text_input {
	margin: 0;
	padding: 0;
	margin-right: 10px;
	margin-left: 25px;
	height: 100px;
	border: 1px solid black;
	width: 350px;
	display: inline;
	vertical-align: top;
	font-size: 30px;
}