@import url('https://fonts.googleapis.com/css?family=Roboto');

/* 
	Color themes I'm playing with
	Solarized: bg: rgb(253, 247, 227), fg: #4f5b66;
*/


/* *********************************************************************** */
/* * Page elements                                                       * */
/* *********************************************************************** */
body {
	padding: 0;
	margin: 0;
	color:  #253545;
	background-color: rgb(253, 247, 227);	
    font-family: 'Roboto', sans-serif;
}

.ipad_sized_page_container {	
    width: 768px;
    margin-left: auto;
    margin-right: auto;
}

@media only screen and (max-width: 800px) {
	.ipad_sized_page_container {
	    height: 1024px;
	    overflow: scroll;
	}
}

.loading_text {
	font-size: 30px;
	font-weight: bold;
	width: 100%;
	height: 100%;
	padding-top: 50px;
	text-align: center;
}

/* *********************************************************************** */
/* * Person list                                                         * */
/* *********************************************************************** */
.person {
	margin: 5px;
	position: relative;
	min-height: 102px;
	border-bottom: 1px solid rgb(200,200,200);
}

.person_name {
	display: table-cell;
	height: 100px;
	font-size: 40px;
	vertical-align: middle;
	padding-left: 10px;
    font-weight: bold;
}

/* *********************************************************************** */
/* * Person in / out buttons                                             * */
/* *********************************************************************** */

.person_buttons {
	position: absolute;
	background-color: #444444;
	right: 0;
	top: 0;
	display: inline-block;
	border: 2px solid black	;
	border-radius: 7px;	
}

.person_button {
	color: black;
	display: inline-block;
	font-weight: bold;	
	border-radius: 5px;
}

.person_button_dim {
	color: #606060;
}

.person_button_active {
	background-color: rgba(255,255,255,1);
	opacity: 1;
}

.person_button_contents {
	display: table-cell;
	width: 100px;
	font-size: 35px;
	height: 100px;
	vertical-align: middle;
	text-align: center;
}


.person_button_busy {
	opacity: 1;
	background-color: rgba(255,0,0,0.25);
	color: rgba(255,0,0);
}

.checkmark {
	color: green;
	font-size: 175%;
}

.rotate {
	-webkit-animation: rotation 1s infinite linear;
}


@-webkit-keyframes rotation {
	from {
			-webkit-transform: rotate(0deg);
	}
	to {
			-webkit-transform: rotate(359deg);
	}
}


/* *********************************************************************** */
/* * Slide out options bars                                              * */
/* *********************************************************************** */

.options_bar {
	display: table-cell;
	border: 2px solid black;
	z-index: 99;
	height: 200px;
	border: 0;
	padding-bottom: 10px;
	padding-top: 10px;
	padding-left: 0px;
	padding-right: 0px;
	text-align: center;	
	font-size: 30px;
	vertical-align: middle;
}

.second_level_options_bar {
	display: table-cell;
	border: 2px solid black;
	z-index: 99;
	height: 100px;
	border: 0;
	padding-bottom: 10px;
	padding-top: 10px;
	padding-left: 0px;
	padding-right: 0px;
	text-align: center;	
	font-size: 30px;
	vertical-align: middle;

}

.options_bar_outer_content_container { 
	padding: 0;
	margin: 0;
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
 	text-align: center; 
 }

 .options_bar_inner_content_container {
 	width: 100%;
 }

.button_small_text {
	font-size: 14pt !important;
}

.options_bar_button {
	border: 1px solid rgba(0,0,0,0.3);	
	background-color: rgba(255,255,255,1);
	color: black;
	display: inline-block;
	margin-right: 10px;
	font-weight: bold;
	border-radius: 3px;
	border-radius: 8px;

}

.options_bar_button_contents {
	display: table-cell;
	width: 100px;
	font-size: 30px;
	height: 100px;
	vertical-align: middle;
	text-align: center;
}

.hidden {
	display: none;
}

.custom_status_input {
	margin: 0;
	padding: 0;
	margin-right: 10px;
	margin-left: 25px;
	height: 100px;
	border: 1px solid black;
	width: 450px;
	display: inline;
	vertical-align: top;
	font-size: 30px;
}

.control_bar_days_input {
	margin: 10px;
	margin-top: 0;
	padding: 0;
	margin-right: 15px;
	height: 100px;
	border: 1px solid black;
	width: 100px;
	text-align: center;
	display: inline;
	vertical-align: top;
	font-size: 30px;
}
